.dates {
  font-size:medium;
  font-weight: lighter;
}
body {
  font-size: 20px;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
img {
  border: solid rgb(235, 235, 235) .5px;
  float: left;
  
}
.header{
  background-color: rgb(235, 235, 235);
  padding: 35px;
  margin: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}